/*****************************/
/* Stylesheet für den Export */
/*****************************/

.ui-dialog { padding: .2em; width: 500px; }
.ui-dialog .ui-dialog-titlebar { position: relative;text-align:right;  }
.ui-dialog .ui-dialog-titlebar-close { font-size:11px;right: .3em; top: 50%; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { margin: 1px; }
.ui-dialog .ui-dialog-content { border: 0; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0;}
.ui-dialog .ui-dialog-buttonpane button { float: right; cursor: pointer; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }